<section class="aboutme__section noSelect">
  <div class="anchor" id="aboutMe"></div>
  <div class="aboutme__bgfog">
    <img src="assets/img/webp/aboutme/bluebg.webp" alt="" />
  </div>
  <div class="container aboutme__content">
    <div class="aboutme__text">
      <div class="aboutme__intro">
        <h2>About me</h2>
        <p>
          As an experienced web developer with a background in e-commerce, I
          have successfully worked on over 12 projects, demonstrating my
          in-depth knowledge of JavaScript and Angular. After initially working
          in e-commerce and content management, I specialized in web development
          and became the go-to person for HTML, CSS, and JavaScript in my
          company.
        </p>
        <p>
          In this role, I was able to gain extensive project experience both
          inside and outside of my job, building websites and business apps
          while constantly receiving code reviews from experienced developers.
          Currently, the web development share is around 20%.
        </p>
      </div>
      <div class="aboutme__bullet">
        <div class="aboutme__bullet__single">
          <img
            class="aboutme__bulb"
            src="assets/img/webp/aboutme/bulb.webp"
            alt=""
          />
        </div>
        <div class="aboutme__bullet__text">
          Main Tech Stack:
          <ul>
            <li>JavaScript & TypeScript</li>
            <li>Angular & Material Design</li>
            <li>HTML, CSS, SCSS, Bootstrap</li>
          </ul>
        </div>
      </div>
      <div class="aboutme__bullet">
        <div class="aboutme__bullet__single">
          <img
            class="aboutme__jigsawpiece"
            src="assets/img/webp/aboutme/jigsaw-piece.webp"
            alt=""
          />
        </div>
        <div class="aboutme__bullet__text">
          Side Stack:
          <ul>
            <li>Rest-API</li>
            <li>Google Firebase</li>
            <li>GitHub</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="aboutme__pic">
      <img src="assets/img/webp/aboutme/christoph-453.webp" alt="" />
      <hr />
    </div>
  </div>
</section>
