<section class="aboutme__section noSelect">
  <div class="anchor" id="aboutMe"></div>
  <div class="aboutme__bgfog">
    <img src="assets/img/webp/aboutme/bluebg.webp" alt="" />
  </div>
  <div class="container aboutme__content">
    <div class="aboutme__text">
      <div class="aboutme__intro">
        <h2>About me</h2>
        <p>
          As a Full-stack Developer, I've gained practical experience with
          JavaScript, Angular, Python, and Django across more than 15 projects.
          My portfolio offers insights into my capabilities through selected
          project examples.
        </p>
        <p>
          Outside of my professional roles, I've also developed websites and
          business applications, consistently seeking feedback through regular
          code reviews from experienced developers.
        </p>
      </div>
      <div class="aboutme__bullet">
        <div class="aboutme__bullet__single">
          <img
            class="aboutme__bulb"
            src="assets/img/webp/aboutme/bulb.webp"
            alt=""
          />
        </div>
        <div class="aboutme__bullet__text">
          Main Tech Stack:
          <ul>
            <li>Django</li>
            <li>Python</li>
            <li>JavaScript & TypeScript</li>
            <li>Angular & Material Design</li>
            <li>HTML, CSS, SCSS, Bootstrap</li>
          </ul>
        </div>
      </div>
      <div class="aboutme__bullet">
        <div class="aboutme__bullet__single">
          <img
            class="aboutme__jigsawpiece"
            src="assets/img/webp/aboutme/jigsaw-piece.webp"
            alt=""
          />
        </div>
        <div class="aboutme__bullet__text">
          Side Stack:
          <ul>
            <li>Rest-API</li>
            <li>Google Firebase</li>
            <li>GitHub</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="aboutme__pic">
      <img src="assets/img/webp/aboutme/christoph-453.webp" alt="" />
      <hr />
    </div>
  </div>
</section>
